<section class="py-3" id="contact">
  <div class="container px-4 px-lg-5">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <h2 class="mb-3">Contact</h2>

        <p class="mb-3">
          Email is the best way to reach me for research, collaborations, and most other reasons.<br>
          <a href="mailto:hart@cs.utexas.edu">hart@cs.utexas.edu</a><br>
          <a href="https://www.linkedin.com/in/justin-w-hart/">LinkedIn</a>
        </p>

        <div class="mb-3">
          Are you a prospective student or postdoc? Please see <a href="/joining/">How to Join My Lab</a>.
        </div>
      </div>
    </div>
  </div>
</section>
