<header class="py-3 border-bottom" id="top">
  <div class="container px-4 px-lg-5">
    <div class="row align-items-center g-4">
      <div class="col-md-auto text-center text-md-start">
        <!-- Headshot -->
        <img
            src="/assets/img/hart_headshot_hri_2025.png"
            alt="Justin Hart headshot"
            class="img-fluid border"
            style="max-width: 240px; height: auto;"
        />
      </div>
      
      <div class="col">
        <div class="mb-3">
            
            <div>
              Assistant Professor of Practice
            </div>

            <div>
              <a href="https://www.cs.utexas.edu">Department of Computer Science</a>,
              <a href="https://www.utexas.edu">The University of Texas at Austin</a>
            </div>

            <div>
              Research Educator,
              <a href="https://fri.cns.utexas.edu">Freshman Research Initiative</a>
              <a href="https://fri.cns.utexas.edu/research-streams/autonomous-robots">
                Autonomous Robots Stream</a>
            </div>

            <div>
              Director, Living with Robots Laboratory
            </div>


            <div><br>
            Affiliations:<br>
              <a href="https://robotics.utexas.edu">Texas Robotics</a> (core faculty)<br>
              <a href="https://bridgingbarriers.utexas.edu/good-systems/projects/living-and-working-with-robots">UT Good Systems</a> (co-director of Living and Working with Robots)
            </div>
        </div>
        
    </div>


    </div>
  </div>
</header>